@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
	font-family: "Lato", sans-serif ; 
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url("nasa-Q1p7bh3SHj8-unsplash.jpg");
	background-size:cover;
	background-position: center;
}
.nav{
	width : 85%;
	margin : auto;
	padding: 35px 0;
	display: flex;
	align-items: "center";
    justify-content: space-between;
	
}
.logo{
	width: 150px;
	cursor: pointer;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	margin : 0 20px;
	position: relative;
}
.nav ul li a{
	text-decoration: none;
	color: aliceblue;
	text-transform: "uppercase";
}
.nav ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background:#D58EF3;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}
.nav ul li:hover::after{
	width: 100%;
}
.welcome{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align:center;
	color:aliceblue;
	
}
.welcome h1{
	font-size: 70px;
	margin-top: 80px;
}
.welcome p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	
}
button{
	width: 200px;
	padding: 15px, 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	background: transparent;
	border: 2px solid #E990E0;
	color:aliceblue;
	cursor: pointer;
}